# Logging Configuration
LOG_LEVEL=INFO
LOG_TO_CONSOLE=True
LOG_TO_FILE=False
LOG_FILE_PATH=logs/state_machine.log
# State Machine Configuration
# MISSION_CONFIG="farm_wood"
# MISSION_CONFIG="gantas_iron"
# MISSION_CONFIG="sarin_coal"
# MISSION_CONFIG="tronk_stone"
MISSION_CONFIG="bigfoot"
# MISSION_CONFIG="gantas_iron_copy"